body,p,ul,li,input,textarea,ol,h1,h2,h3,h4,h5,dl,dd,dt{margin:0px;padding:0px;}
body,button,input,textarea,.win-textarea,select,option{letter-spacing:0.02em;}
body{color:#333;font-family:'Microsoft YaHei',Arial,Tahoma,sans-serif;font-size:13px;line-height:20px;background-color:#f9f9f9;text-align:center;}
input,button{padding:3px 5px;border:1px solid #CCC;}
button:hover{background-color:#333;color:#FFF;}
dd{margin-left:6px;}
input,textarea{border:1px solid #2A4E26;margin:2px 0;}
ul{list-style-type:none;}
a{color:#2970A6;text-decoration:none;}
a:hover{color:red;}
.w_170{width:170px;}
.fl{float:left;}
.fr{float:right;}
.span1{margin:0 1px;width:40px;height:22px;overflow:hidden;}
.span2{margin:0 1px;width:80px;height:22px;overflow:hidden;}
.span3{margin:0 1px;width:120px;height:22px;overflow:hidden;}
.span4{margin:0 1px;width:160px;height:22px;overflow:hidden;}
.span5{margin:0 1px;width:200px;height:22px;overflow:hidden;}
.span6{margin:0 1px;width:240px;height:22px;overflow:hidden;}
.clear{clear:both;}
.divider{background-color:#E5E5E5;border-bottom:1px solid #FFFFFF;height:1px;margin:9px 1px;overflow:hidden;}
.clearCSS{width:auto;height:auto;}
.mr_5{margin-right:5px;}
.c_fff{color:#FFF;}
.c_333{color:#333;}
.ta_c{text-align:center;}
.of_h{overflow:hidden;}
img.lazy{background:#fafafa url(/img/s/loding.gif) no-repeat center center;border:1px solid #529A4A;padding:2px;}
.row{overflow:hidden;}
.row .col{float:left;}
.table_row{overflow:hidden;border-bottom:1px solid #DDD;line-height:24px;}
.table_row_th{border-top:1px solid #DDD;height:24px;line-height:24px;font-weight:bold;}
.table_row>div{float:left;}
.form_row{overflow:hidden;margin-top:5px;}
.form_row>label,.form_row>div{float:left;}
.container{width:1000px;margin:0 auto;text-align:left;}
#header{height:80px;color:#777;background-color:#e8e8e8;}
#content{padding-top:5px;}
#links a{font-size:9pt;margin-right:6px;}
#footer{padding-bottom:80px;text-align:center;}
#message{line-height:24px;background:transparent url(/img/s/message.png) left top repeat;position:absolute;width:300px;padding:20px;display:none;color:#FFF;font-weight:bold;}
#top{position:fixed;width:50px;height:50px;border:1px solid #CCC;top:70%;right:20px;background-color:#f9f9f9;background-image:url(/img/s/top.jpg);background-position:left top;cursor:pointer;display:none;}
#top:hover{background-position:left -50px;border-color:#AAA;}
#popup{display:none;width:700px;position:absolute;text-align:left;background:#FFF;border:1px solid #444;}
#popup_close{position:absolute;top:-3px;right:-32px;cursor:pointer;}
#popup_title{cursor:move;line-height:30px;height:30px;background:#444;color:#FFF;padding-left:10px;}
#popup_content{padding:2px 5px 5px 5px;}
#logo{margin:0 0 0 10px;line-height:80px;height:80px;font-size:24px;font-weight:bold;display:block;}
#logo h3{color:#777;}
#nav{height:32px;background-color:#4d504b;padding:0 10px;}#nav .mainnav{float:left;}
#nav a{display:block;}
#nav .active{background:#b3b6b1;}
#nav .subnav{color:#FFF;line-height:32px;height:32px;padding:0 0 0 5px;width:60px;}
#nav .subnav:hover{background:#b3b6b1;}
#nav .dropdown{z-index:99999999;position:absolute;border-top-width:0;background:#FFF;display:none;padding:5px 0;margin:0px;box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);}
#nav .dropdown a{height:24px;width:130px;padding:0 0 0 20px;color:#333333;line-height:24px;}
#nav .dropdown a:hover{background:#b3b6b1;color:#333;font-weight:bold;}
#search{margin-right:20px;}
#search_ipt{padding:4px 5px;height:18px;border:1px solid #444;}
#search_btn{cursor:pointer;padding:0 10px;height:28px;color:#FFF;font-weight:bold;background:#444;}
#info{text-align:center;font-size:20px;}
.tags .tag{padding:0px 5px;margin:0px 5px;color:#3E6D8E;background-color:#FFFCEF;}
.tags .tag:hover{background-color:#AAADAA;color:#FFF;}
.index_articles{margin:0 0 10px 0;}.index_articles .index_article{border-bottom:1px dotted #AAA;margin:10px 5px;padding-bottom:10px;}
.index_articles .createDateTime{font-size:10px;}
.index_articles .a_title{font-size:16px;font-weight:bold;line-height:24px;margin:0 5px;color:#4C4C4C;}
.index_articles .a_title:hover{text-decoration:underline;}
.index_articles .simpleContent{height:120px;margin:8px 5px;overflow:hidden;}
.index_articles .viewCount{position:relative;}
.index_articles .view{position:absolute;right:20px;}
.index_articles .title{font-size:16px;line-height:22px;height:22px;color:#444444;padding:0 0 0 3px;}
.mod_divider{background:#ffffff url(/img/s/divider.png) no-repeat;height:2px;margin:7px 0;}
.index_left .mod{width:238px;overflow:hidden;border:1px solid #DDD;margin-bottom:10px;}.index_left .mod .mod_header{font-size:14px;line-height:23px;height:23px;color:#444444;margin-bottom:3px;}.index_left .mod .mod_header span{padding:4px 10px;border-bottom:1px solid #DDD;border-right:1px solid #DDD;}
.index_left ul{margin:0 4px;}
.index_left li{font-size:12px;padding:1px 0 1px 20px;background:#fafafa url(/img/s/icon.png) no-repeat left center;height:20px;overflow:hidden;}
.index_left li:hover{background-image:url(/img/s/icon_active.png);}
.index_left .me_info h4{color:#666;font-size:14px;}
.index_left #img{width:90px;height:112px;background-image:url(/img/s/me_mini.jpg);margin:2px 10px 2px 2px;}
.index_left .message{position:relative;height:242px;}
#giveMeMessage{display:none;background:#FFF;position:absolute;top:22px;left:0;right:0;border:0;height:220px;}
.pagination{margin-bottom:5px;height:30px;}.pagination li{float:left;}
.pagination a{font-size:10px;display:block;border:1px solid #DDD;padding:4px 12px;line-height:20px;background-color:#FCFFFC;border-left-width:0;}
.pagination a:hover{background-color:#F5F5F5;}
.pagination .disable{color:#999;cursor:default;background:#F5F5F5;}
.pagination .first{border-left:1px solid #DDD;}
.pagination .active{background-color:#F5F5F5;cursor:default;color:#999;}
#articles{margin:0 10px;}
.article{margin:0 0 15px 0;padding:0 0 14px 0;color:#222;}.article .left{float:left;background:#FFF;width:600px;margin-right:6px;padding:20px 10px;}.article .left .title{overflow:hidden;height:21px;}.article .left .title a{color:#222;font-size:18px;}
.article .left .content{margin:10px 0;}
.article .left .tags a{margin:0 5px;}
.article .right{padding:15px 15px 15px 15px;float:left;background:#EEC;width:180px;}.article .right .createDateTime{overflow:hidden;padding:0 0 10px 0;border-bottom:1px solid #AAA;}
.article .right .date{font-size:40px;height:40px;line-height:40px;margin-right:6px;}
.article .right .month{font-size:14px;height:20px;line-height:20px;}
.article .right .year{font-size:14px;height:20px;line-height:20px;}
.article .right h4{margin:3px 0 0 0;}
.detail{margin:0 10px;}.detail .title{line-height:30px;height:30px;font-size:18px;}
.detail table{border-collapse:collapse;}
.detail .other{margin:3px 0;}
.detail .category_project .project{margin-left:5px;}
.detail .content{color:#000;padding:8px 3px 15px 3px;}.detail .content a{color:#00F;}
.detail .content ul{list-style-position:inside;list-style-type:disc;margin:13px 0;}
.detail .content ol{list-style-position:inside;list-style-type:decimal;}
.detail .content li{padding-left:10px;}
.detail .p_n{margin:10px 0;padding:0 5px;overflow:hidden;}.detail .p_n a{text-decoration:underline;}
.detail .relates{margin:0 0 10px 0;}.detail .relates ul{margin:0 0 0 10px;color:#00f;}
.detail .comment_table{color:#000;}.detail .comment_table #comment_email{height:24px;font-size:16px;}
.detail .comment{margin:5px 0;border:1px dotted #AAA;padding:5px;}.detail .comment .index{float:left;width:40px;text-align:center;font-size:16px;padding:12px 0;font-weight:bold;background:#CFECBB;color:#6D2A21;}
.detail .comment .miniIndex{float:left;width:20px;text-align:center;font-size:12px;padding:2px 0;font-weight:bold;background:#CFECBB;color:#6D2A21;}
.detail .comment .body{margin:0 0 0 45px;}
.detail .comment .comment_content{margin:10px 0 10px 4px;}
.detail .comment .add_comment{margin:0 4px;width:80px;display:block;}
.detail .comment .replies li{height:26px;}
.detail .copyright_me{color:#666;margin:20px 0;border:1px solid #728570;background:#F7F7E4;padding:5px;}
.detail .copyright{background:#F7F7E4;text-align:left;margin:20px 0;padding:3px 0 3px 10px;color:#333;font-size:10pt;line-height:22px;border-left:10px solid #b3b6b1;}
.breadcrumb{overflow:hidden;font-size:10px;margin:5px 0;}.breadcrumb li{float:left;}
.breadcrumb .separator{padding:0 5px;color:#CCC;}
.breadcrumb_active{color:#999;}
.ke-icon-m_code{background-image:url('img/m_code.gif');background-position:0px 0px;width:16px;height:16px;}
#iframe{display:none;position:fixed;top:200px;left:200px;border:1px solid #293A41;background-color:#FFF;text-align:left;}
#dialog_content{min-width:400px;min-height:300px;padding:2px 5px;}
#dialog_bar{padding-left:10px;background-color:#293A41;height:24px;line-height:24px;color:#FFF;font-weight:bold;}
#dialog_footer{background-color:#E5E5E5;padding:4px 0;}
#dialog_footer a{float:right;padding:4px 10px;border:1px solid #AAA;margin-right:5px;}
#dialog_footer a:hover{background-color:#717366;color:#FFF;}
#loding{display:none;position:fixed;top:0px;left:0px;bottom:0px;right:0px;background:transparent url(img/loader.gif) no-repeat center center;}
#me .me{margin:0 5px 0 190px;}
